<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>zoro</title>
    <link rel="stylesheet" href="static/style.css">
    <!-- <link rel="stylesheet" href="static/initialize.css"> -->
    <!-- <link rel="stylesheet" href="css/"> -->
</head>
<body>
    <header>
        <div></div>
    </header>
    <nav>
        <h2>Zoro</h2>
    </nav>

    <main>
        <div>
            <form action="">
                <p>Connectez-vous</p>
                <input type="text" placeholder="Identifiant">
                <input type="password" placeholder="Mot de passe">
                <button><a href="{{url_for('accueil')}}">connexion</a>
                </button>
                <a href=""><h5>Si pas de compte inscrivez-vous</h5></a>
            </form>
            
        </div>
    </main>
</body>
</html>